@import "node_modules/bootstrap/scss/bootstrap";
@import 'imports.scss';

* {
    margin: 0;
    padding: 0;

    & body {
        margin: 15px;
        background: #ddd;
    }
}

.testclas {
    color: blue;
}