<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />

    <!-- Custom styles -->
    <link rel="stylesheet" href="assets/styles/styles.css" />

    <!-- Favicon -->
    <link rel="icon" href="assets/img/favicon.png" >

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
    </script>
</head>
<body>
    <a class="skip-main" href="#main">Skip to main content</a>